page-login {
    //¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ fundo ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬
    ion-content{
      // background: #DEDEDE !important;
      padding: 0px 0px !important;
      margin: 0px 0px !important;
      background-image: url(../assets/imgs/fundologin.jpg) !important;
      background-position: center center !important;
      background-repeat: no-repeat !important;
      background-attachment: fixed !important;
      background-size: cover !important;
      background-color: #EEEEEE !important; 
    }

    //¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬ classes ¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬¬
    .logo{
      display: block;
      margin: auto !important;
      background: none !important;
      margin-Top: 50px !important;
      bottom: 30px !important;
      width: 150px !important;
      height: 60px !important;
    }

    .slogan{
        color: rgba(221, 219, 219, 0.925) !important;
        text-align: center !important;
        
    }
    
    #slogan{
            margin-bottom: 50px !important;
        }

    .campos{
        padding-left: 10px;
        margin-top: 10px !important;
        color: #3bc859 !important;
        background-color: rgba(255, 255, 255, .2);
        & ion-label{
            font-size: 16px !important;
            // font-weight: bold !important;
        }
    }

    .manterconectado{
      background: none !important;
      color: rgba(221, 219, 219, 0.925) !important;
      font-size: 12px !important;
    }

    .botao{
        height: 38px !important;
        margin: 15px 0 !important;
    }

    #btnEntrar{
        margin-top: 30px !important;
        margin-bottom: 15px !important;
        // opacity: 0.5 !important;
        // color: #FFF !important;
    }

    .btnLabel{
        font-size:12px !important;
    }

    .text_center{
        text-align: center !important;
    }
   
}
