page-rotas {
    #j{
        background-color: red !important;
    }
    #map{
        height: 100%;
        z-index: 1 !important;
    }
    

      .label{
          font-weight: bold;
          font-size: 1.6rem !important;
      }

      
    }
