page-empresas {
    // .toolbar-md {
    //     padding: 4px;
    //     min-height: 32px;
    // }

    .searchbar-md .searchbar-input {
        padding: 5px 40px;
        border-radius: 5px;
        background-position: left 8px center;
        height: auto;
        font-size: 1.6rem;
        font-weight: 300;
        line-height: 3rem;
        color: #141414;
        background-color: #fff;
    }

    .searchbar-md .searchbar-search-icon {
        left: 10px;
        top: 10px;
    }

    .back-button-md {
        margin: 0 0px;
        min-width: 39px;
    }

}
