page-resetsenha {
  ion-content{
    // background: #DEDEDE !important;
    padding: 0px 0px !important;
    margin: 0px 0px !important;
  }
  .btnEntrar{
    margin-top: 50px !important;
    margin-bottom: 15px !important;
  }
  button{
    height: 45px !important
  }

  .text_center{
    text-align: center !important;
  }
  ion-img{
    display: block;
    margin: auto !important;
    background: #FFF !important;
    margin-Top: 30px !important;
    bottom: 30px !important;
  }
  ion-toggle{
    margin-top: 0px !important;
    border: none !important;
  }
  }
